@import url("https://fonts.googleapis.com/css2?family=Space+Mono");

$purple5Rgb: rgba(49, 0, 71, 1);
$purple3Rgb: rgba(102, 0, 148, 1);
$purple2: #9614d0;

$text_color: white;


body {
    background-color: black;
    max-width: 100%;
    overflow-x: hidden;
    color: $text_color;
    font-family: 'Space Mono', monospace;
    margin: 0;
    padding: 0;
}

.font {
    font-family: 'Space Mono', monospace;
}

.howtobuyContainerContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    z-index: 1 !important;
    row-gap: 10%;
    column-gap: 5%;
    margin-left: 5%;
    margin-right: 5%;
    overflow: hidden;
    margin-bottom: 5%;
}

.buyBox {
    z-index: 1;
    text-align: center;
    align-self: center;
}

.howtobuycontainer {

}

.headerBar {
    width: 100%;
    font-family: 'Space Mono', monospace;
    z-index: 1;
    margin-top: -1%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    // background: $purple3Rgb;
    // background: radial-gradient(circle, $purple3Rgb 0%, $purple5Rgb 100%);
    background: none;
}

.linkBtn{
    z-index: 1;
    position: relative;
    padding: 1%;
    margin: 5%;
    color: $text_color;
    text-decoration: none;
}

.linkBtn:hover{
    color: black;
}

.leftDiv{
    width: 50%;
}

.rightDiv{
    display: flex;
    width: 50%;
}

img.icon {
    width: 25%;
    align-self: center;
    margin: 5%;
}

.iconContainer {
    display: flex;
}

.btnContainer{
    margin-top: 1%;
    display: flex;
    align-items: center;
    width: 70%;
}

.imageBox {
    z-index: 1;
    width: 50%;
    align-self: center;
}

img {
    width: 100%
}

.purplebutton {
    background-color: $purple2;
    border: none;
    border-radius: 25px;
    width: 50%;
    color: white;
    padding: 2%;
    margin: 1%;
    z-index: 1;
}

p {
    font-family: 'Space Mono', monospace;
}

.tokenNameandTicker {
    padding: 1%;
    list-style-type: none;
    font-family: 'Space Mono', monospace;

}

div#buttonDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name {
    margin-bottom: 0;
}

.ticker {
    margin-top: 0;
}

.font32 {
    font-size: 32px;
}

.font24 {
    font-size: 24px;
}

.font22 {
    font-size: 22px;
}

.font18 {
    font-size: 18px;
}

.mainPage {
    display: flex;
    width: 100%;
    align-items: center;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 7%;
    margin-bottom: 7%;
}

.leftMainPage {
    display: flex;
    flex-direction: column;
    width: 35%;
    text-align: center;
}

.rightMainPage {
    display: flex;
    flex-direction: column;
    width: 65%;
}

div#rightTextBlurb {
    text-align: center;
}

.padding1 {
    padding: 1%;
}

.tokenomicsData {
    display: flex;
    align-items: center;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 7%;

}

.left {
    width: 50%;
    z-index: 1;
}

.right {
    width: 50%;
    text-align: center;
    padding: 1%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.howToBuyData {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.marginLeft2 {
    margin-left: 2%;
}

.top {
    display: flex;
}

.imageBox3{
    width: 95%;
    margin-left: 2%;
}

.projectInfoData {
    display: flex;
    flex-direction: column;
}

.footer {
    padding: 1%;
    width: 100%;
    // background: $purple3Rgb;
    // background: radial-gradient(circle, $purple3Rgb 0%, $purple5Rgb 100%);
    background: none;
    font-family: 'Space Mono', monospace;
}

.padding2 {
    padding: 2%;
}

.marginRight2 {
    margin-right: 2%;
}

.marginTop1 {
    margin-top: 1%;
}

.marginBottom1 {
    margin-bottom: 1%;
}