@import url("https://fonts.googleapis.com/css2?family=Space+Mono");

$purple5Rgb: rgba(49, 0, 71, 1);
$purple3Rgb: rgba(102, 0, 148, 1);
$purple2: #9614d0;

$text_color: white;

body {
    background-color: black;
    max-width: 100%;
    overflow-x: hidden;
    color: $text_color;
    font-family: "Space Mono", monospace;
    margin: 0;
    padding: 0;
}

.font {
    font-family: "Space Mono", monospace;
}

.padding2 {
    padding: 2%;
}

.marginRight2 {
    margin-right: 2%;
}

.marginTop1 {
    margin-top: 1%;
}

.marginBottom1 {
    margin-bottom: 1%;
}


.textbox {
    width: fit-content;
}

.howtobuyContainerContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    z-index: 1 !important;
    column-gap: 5%;
    margin-left: 5%;
    margin-right: 5%;
    overflow: hidden;
    margin-bottom: 5%;
}

.buyBox {
    z-index: 1;
    text-align: center;
    align-self: center;
}

.howtobuycontainer {
}

.headerBar {
    width: 100%;
    font-family: "Space Mono", monospace;
    z-index: 1;
    margin-top: -1%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: none;
    flex-direction: row;
}
@media (orientation: portrait) {
    .headerBar {
        width: 100%;
        display: flex;
        flex-direction: column !important;
    }

    .howtobuyContainerContainer {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));;
        justify-items: flex-start;
        z-index: 1 !important;
        column-gap: 0%;
        grid-column-gap: 0%;
        margin-bottom: 5%;
    }

    .buyBox {
        z-index: 1;
        text-align: center;
        align-self: center;
        max-width: fit-content;
    }

    .howToBuyData {
        display: flex;
        flex-direction: column;
        align-items: none;
    }
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.linkBtn {
    z-index: 1;
    position: relative;
    padding: 1%;
    margin: 5%;
    color: $text_color;
    text-decoration: none;
}

.linkBtn:hover {
    color: grey;
}



@media (orientation: portrait) {
    .linkBtn {
        z-index: 1;
        position: relative;
        padding: 1%;
        margin: 0%;
        color: $text_color;
        text-decoration: none;
        width: 100%;
    }
    
    .linkBtn:hover {
        color: white;
        background-color: grey;
    }

    .tokenomicsText{
        font-size: x-small;
    }
}

.leftDiv {
    width: 50%;
}

.rightDiv {
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
}
@media (orientation: portrait) {
    .leftDiv {
        width: 100%;
        text-align: center;
    }
    .rightDiv {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
}

img.icon {
    width: 5%;
    margin: 1%;
    height: 5%;
}

@media (orientation: portrait) {
    img.icon {
        width: 15%;
        height: 15%;
    }
}

.iconContainer {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: flex-end;
    bottom: 0;
    right: 2%;
    z-index: 99;
    align-items: center;
}

.btnContainer {
    width: 100%;
}

.imageBox {
    z-index: 1;
    width: 50%;
    align-self: center;
    text-align: center;
}

img {
    width: 100%;
}

.purplebutton {
    background-color: $purple2;
    border: none;
    border-radius: 25px;
    width: 50%;
    color: white;
    padding: 2%;
    margin: 1%;
    z-index: 1;
}

p {
    font-family: "Space Mono", monospace;
}

.tokenNameandTicker {
    padding: 1%;
    list-style-type: none;
    font-family: "Space Mono", monospace;
}

div#buttonDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1%;

}

@media (orientation: portrait) {

    div#buttonDiv {
        margin-bottom: 1%;
        margin-left: 15%;
        margin-right: 15%;
    }
}

.ticker {
    margin-top: 0;
}

.font32 {
    font-size: xx-large;
}

.font24 {
    font-size: large;
}

.fontmedium{
    font-size: medium
}

.font22 {
    font-size: small;
}

.font18 {
    font-size: x-small;
}

@media (orientation: portrait) {
    .font32 {
        font-size: x-large;
    }

    .font24 {
        font-size: large;
    }

    .font22 {
        font-size: medium;
    }

    .font18 {
        font-size: x-small;
    }
}

.mainPage {
    display: flex;
    width: 100%;
    align-items: center;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 7%;
    margin-bottom: 7%;
}

.leftMainPage {
    display: flex;
    flex-direction: column;
    width: 35%;
    text-align: center;
}

.rightMainPage {
    display: flex;
    flex-direction: column;
    width: 65%;
}

@media (orientation: portrait) {
    .mainPage {
        display: flex;
        width: 100%;
        align-items: center;
        flex-direction: column;
        margin-left: 0%;
        margin-right: 0%;
        margin-top: 7%;
        margin-bottom: 7%;
    }

    #miniInfoBox {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .leftMainPage {
        width: 90%;
    }

    .rightMainPage {
        width: 100%;
        margin-top: 5%;
    }
}

div#rightTextBlurb {
    text-align: center;
}

.padding1 {
    padding: 1%;
}

.tokenomicsData {
    display: flex;
    align-items: center;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 7%;
}

.left {
    width: 50%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.right {
    width: 50%;
    text-align: center;
    padding: 1%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.howToBuyData {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.marginLeft2 {
    margin-left: 2%;
}

.top {
    display: flex;
    margin: 1%;
}

.imageBox3 {
    width: 95%;
    margin-left: 2%;
}

.projectInfoData {
    display: flex;
    flex-direction: column;
}

.footer {
    padding: 1%;
    width: 100%;
    // background: $purple3Rgb;
    // background: radial-gradient(circle, $purple3Rgb 0%, $purple5Rgb 100%);
    background: none;
    font-family: "Space Mono", monospace;
}
